<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootstrap Site</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>

        <style>
            .dropdown-menu .dropdown-item {
                font-size: 0.8rem;
            }
        </style>
</head>

<body>
    <div class="container border mt-5 border p-3" style="width: 70%;">
        <h3 class="text-center" style="color: rgb(109, 6, 109);">To do list</h3>
        <div class="form">
            <form class="container mt-2" action="/todo" method="post">
                <div class="hello" style="display: flex; flex-direction:row;justify-content:space-between">
                    <div class="form-group">
                        <input type="text" class="form-control" name="task" id="" placeholder="Add task here..."
                            style="width:600px;" required>
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control" name="dueDate" id="" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Beautiful Dropdown Menu -->
        <div class="dropdown mt-3 mb-3" style="float: right;">
            <button class="btn btn-white border btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdown-item-sm" href="/todo/missed">Missed</a>
                <a class="dropdown-item dropdown-item-sm" href="/todo/pending">Pending</a>
                <a class="dropdown-item dropdown-item-sm" href="/todo/completed">Completed</a>
              </div>
        </div>

        <!-- Beautiful Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Due Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                 
                <% tasks.forEach(task => { %>
                <tr>
                    <td><%= task.task %></td>

                    <td ><%= moment(task.due_date).format('Do MMMM YYYY, dddd') %></td>

                    <% function getTextColor(status) {
                        switch (status) {
                          case 'Missed':
                            return 'text-danger'; 
                          case 'Pending':
                            return 'text-primary'; 
                          case 'Completed':
                            return 'text-success'; 
                          default:
                            return '';
                        }
                      } %>

                    <td class="<%=getTextColor(task.status) %>"><%= task.status %></td>

                    <td>
                        <% if (task.status=="Pending") { %>
                            <a href="/todo/complete/<%=task.id%>">Completed</a>/
                        <% } %>
                        <a href="/todo/delete/<%=task.id%>">Delete</a>
                        
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>
